.change-date {
  grid-row: 2/3;
  grid-column: 4/5;
  justify-self: start;

  font-size: 24px;
  font-family: $font-roboto;
  line-height: 19px;
  text-align: center;
  color: white;

  background-color: transparent;
  border: none;

  transform: rotate(-65deg) translate(-70px, -70px);
  &:focus {
    outline: none;
  }

  i {
    margin-right: 20px;
  }
}
